/ --- sidebar------------------------------
.sidebar
  .sidebar__up
    %p 名前
    %a{:href => "#"}= fa_icon "cog"
    %a{:href => "#"}= fa_icon "edit"
  .sidebar__down
    %p.sidebar__down__name group_name
    %p.sidebar__down__message message
