/ ---form------------------------------
.form
  %form
    %input.textarea{name: "", placeholder: "type a message", type: "text"}/
    %label.image_icon
      %i.fa.fa-image
      %input.none_file{name: "", type: "file"}/
      %input.btn{type: "submit", value: "Send"}/
