/ ---main------------------------------
.main
  .main__up
    .main__left
      %p.main_group group_name
      %p.main_member member
    .main__right
      %a{href: "#"} Edit
  / ---message------------------------------
  .main_message
    .main__messages
      %p.main__name User_name
      %p.main__user__message message
