/ ---form------------------------------
.form
  %form{"accept-charset" => "UTF-8", :action => "", :method => "post"}
    %input{:name => "name", :placeholder => "type a message", :size => "40", :type => "text"}/
    %i.fa.fa-image
    %input.submit_btn{:type => "submit", :value => "Send"}/
