<!-----main------------------------------ -->
<div class = "main_header">

 <div class = "header_left">
   <p class = "main_group">group_name</p>
   <p class="main_member">member</p>
 </div>

 <div class = "header_right">
   <a href = "#">Edit</a>
 </div>


<!-----message------------------------------ -->
<div class="index_message">
  <div class="messages">
 <p class = "user_name">User_name</p>
 <p class="users_message">message</p>
</div>
</div>
</div>
<div class="clear"></div>
