/ --- sidebar------------------------------
.index_sidebar
  .index_sidebar_up
    %p 名前
    %a{:href => "#"}= fa_icon "cog"
    %a{:href => "#"}= fa_icon "edit"
  .index_sidebar-down
    %p.group_name group_name
    %p.message message
