<!-----form------------------------------ -->
<div class="form">
  <form action="" method="post" accept-charset="UTF-8">

   <input  type="text"  name="name" size="40" placeholder="type a message">
   <input id="filename" readonly type="text" value="" ><i class="fa fa-image"></i>
   <button type="button" id="select_file_button"></button>
    <input id="file_button" type="file"  />
   <input  type="submit" class="submit_btn" value="Send">

  </form>
</div>


