<!----- sidebar------------------------------ -->
<div class = "index_sidebar">
  <div class = "index_sidebar_up">
   <p>名前</p>
    <a href = "#"><%= fa_icon "cog" %></a>
    <a href = "#"><%= fa_icon "edit" %></a>
   </ul>
  </div>
  <div class = "index_sidebar-down">
    <p class = "group_name">group_name</p>
    <p class = "message">message</p>
  </div>

</div>

