/ ---main------------------------------
.main_header
  .header_left
    %p.main_group group_name
    %p.main_member member
  .header_right
    %a{:href => "#"} Edit
  / ---message------------------------------
  .index_message
    .messages
      %p.user_name User_name
      %p.users_message message
.clear
