!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield

<script>
$(document).on('click', '#select_file_button', function() {
  $("#file_button").click();
 })
</script>

<script>
$(document).on('change', '#file_button', function() {
  $('#filename').val($(this).val().replace(/^.*\\/, ""));
 })
</script>
